
# USE JUPYTER BOOK TO BUILD THE BOOK
# https://jupyterbook.org/en/stable/start/overview.html
jupyter-book


# ALSO ADD ANY PACKAGES THAT YOUR NOTEBOOKS REQURE (BELOW)
# JUPYER BOOK WILL EXECUTE THE NOTEBOOKS
# ... SO THEY WILL NEED TO HAVE THEIR PACKAGE DEPENDENCIES SATISFIED
#matplotlib
#numpy
# etc...
ipython
ipywidgets
shinywidgets
matplotlib
numpy
pandas
#shinylive


